/* GENERAL STYLES */

:root {
    --font-family: Arial, Helvetica, sans-serif;
    --bold-font: 700;
    --bg-color: #9daaaa;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --bottom-margin: 0.5rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
    --background-color: rgb(34, 32, 32);
    --nav-font-color: rgb(64, 166, 192);
    --div-bgcolor: white;
  }

  html{
      scroll-behavior: smooth;
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    color: var(--bg-color);
}



/* Navigation style  */
nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--background-color);
    /* box-shadow: 0 3px 5px rgb(64, 166, 192); */
  }

  nav h1{
      color: var(--nav-font-color);
  }

  nav a, footer a{
      color: var(--nav-font-color);
      transition: var(--transition);
      text-decoration: none;
  }
  nav a:hover{
      color: var(--bg-color);
      border-bottom: 2px solid var(--bg-color);
  }
  nav ul {
    display: flex;
    gap: 1.9rem;
    /* margin: 0 190px */
  }
  
  nav ul li, footer ul li {
    font-weight: var(--bold-font);
  }
  
  ul{
    list-style-type: none;
}

a:hover{
    color: var(--secondary-color);
}

/* footer style */
 footer ul {
    display: flex;
    gap: 1.9rem;
    margin: 0 230px
  }
  footer {
    padding: 1.5rem 3.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 0 3px 5px rgb(64 166 192);
}
  
  .align{
    align-items: flex-end;
    justify-content: center;
  }
 
  /* Hero style */
  .hero {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 100px;
    max-width: 100%;
    margin: 20px;
  }

  .bio {
    width: 80%;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  }
  .bio h2 {
    margin-bottom: var(--bottom-margin);
  }
  
  .bio p {
    line-height: var(--line-height);
    padding: 10px 0;
  }
/* .vl {
    border-right: 6px solid rgb(64, 166, 192);
    height: auto;
    left: 15%;
    margin-top: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
  } */

.avatar {
    vertical-align: middle;
    width: 400px;
    height: 400px;
    border-radius: 50%;
  }

  /* Work style */
  .work {
    background-color: var(--div-bgcolor);
    padding: 32px 0;
    margin-top: 2rem;
  }
  
  .work-pic {
    width: 65%;
    height: 60%;
  }
  
  .work-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }
  .work-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .work-title {
    margin-bottom: var(--bottom-margin);
  }
   
  .work-details {
    margin-bottom: var(--bottom-margin);
  }
  
  .work-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    padding: 20px;
    margin: 10px;
  }

  /*changes reflects on screen with a width of 720px and below*/
  @media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }    

    .hero {
      margin-top: 4rem;
      flex-direction: column;
      gap: 0;
    }
  
    .hero img {
          height: 27.5rem;
          width: 20rem;
      }
  
    .bio {
      margin-top: 4rem;
      width: 20.5rem;
    }
    .work-container {
      flex-direction: column;
    }
  
    .work-container {
      width: 30.875rem;
    }
  }
 
  /*changes reflects on screen with a width of 420px and below*/
  @media screen and (max-width: 420px) {
    .hero img {
      height: 27.5rem;
      width: 20rem;
    }
  
    .bio {
      width: 18.3rem;
    }
  
    .work-container {
      width: 17.875rem;
    }
    .contact-me{
      max-width: 7.75rem;
      margin-top: 4rem;
    }
  } 
